<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>电子病历首页</title>
</head>
<body>
    <!-- <a href="./query.html">查询页面</a><br> -->
    <!-- <h1><%= title %></h1> -->
    <h1>电子首页</h1>

</body>
</html>